<h1>Restaurants list</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %> - Address: <%= restaurant.address %> - Category: <%= restaurant.category.capitalize %> - Phone: <%= restaurant.phone_number %></li>
  <% end %>
</ul>
